<%= form_for @project do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <%= f.label :color %>
    <%= f.select :color, { red: "red", blue: "blue", green: "green", purple: "purple", brown: "brown", pink: "pink", orange: "orange" }%>
    <% if @project.errors.any? %>
      <%= @project.errors.messages[:title][0] %>
    <% end%>
  </p>
  <p><%= f.submit %></p>

<% end %>
