<h1><%= @project.title %></h1>
<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= check_box_tag '', '', task.done, { 'data-id' => task.id, 'data-project-id' => task.project_id, class: 'done_check' }%>
      <%= task.title %>
      <% if task.deadline%>
        <%= task.deadline.to_s(:datetime) %>
      <% end %>
      <%= link_to "[Delete]", project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
  <div id="createTask">
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <div id="datetime"><%= f.datetime_select :deadline, start_year: 2016 %></div>
      締め切りを設定しない<%= check_box '', '', { id: 'no_deadline' } %>
      <%= f.submit %>
    <% end %>
  </div>
</ul>
<%= javascript_include_tag 'show', 'data-turbolinks-track': 'reload' %>
<script>
$(function(){
  var datetimeForm = $('#datetime');
  $('input[type=checkbox]').click(function(){
    console.log($(this).data('project-id'));
    $.post('/projects/' + $(this).data('project-id') + '/tasks/' + $(this).data('id') + '/toggle');
  });
});
</script>
