<h1><%= @project.title %></h1>
<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= check_box_tag '', '', task.done, { 'data-id' => task.id, 'data-project-id' => task.project_id, class: 'done_check' }%>
      <% if task.done == true %>
        <s><%= task.title %></s>
      <% else %>
        <%= task.title %>
      <% end%>
      <% if task.deadline%>
        <%= task.deadline.to_s(:datetime) %>
      <% end %>
      <%= link_to "[Delete]", project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
  </li>
  <div id="createTask">
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <div id="datetime"><%= f.datetime_local_field :deadline, start_year: 2016 %></div>
      締め切りを設定しない<%= check_box '', '', { id: 'no_deadline' } %>
      <%= f.submit %>
    <% end %>
  </div>
</ul>
<ul id="tasks">
  <li v-for="task in tasks">
    <span v-if="task.done">
      <input type="checkbox" lazy @click="toggle" :data-id="task.id" checked="checked">
    </span>
    <span v-else>
      <input type="checkbox" lazy @click="toggle" :data-id="task.id">
    </span>
    {{ task.title }}
    {{ task.deadline ? task.deadline.replace(/-/g, '/').replace(/T/, ' ').slice(0,16) : ''}}
    <a @click="deleteTask" :data-id="task.id">[Delete]</a>
  </li>
  <div id="createTask">
    <input type="text" id="taskTitle">
    <input type="datetime-local" id="deadline" step="300" value="2016-10-28T00:00">
    <input type="checkbox" id="no_deadline">
    <label for="no_deadline">締め切りを設定しない</label>
    <input type="button" value="Create Task" @click="submitCreateTask">
  </div>
</ul>
<%= javascript_include_tag 'show', 'data-turbolinks-track': 'reload' %>
<script>
$(function(){
  var datetimeForm = $('#datetime');
  $('.done_check').click(function(){
     $.post('/projects/' + $(this).data('project-id') + '/tasks/' + $(this).data('id') + '/toggle');
  });
  var project_id = window.location.pathname.split('/')[2];
  window.fetch('/task_data/' + project_id)
  .then(function(response){
    response.json()
    .then(function(data){
      new Vue({
        el: '#tasks',
        data: {
          tasks: data,
        },
        methods: {
          toggle: function(event){
            $.post('/projects/' + project_id + '/tasks/' + event.target.dataset.id + '/toggle');
          },
          deleteTask: function(event){
            $.ajax({
              type: 'DELETE',
              url: '/projects/' + project_id + '/tasks/' + event.target.dataset.id
            });
          },
          submitCreateTask: function(event){
            $.post('/projects/' + project_id + '/tasks',{ title: $('#taskTitle').val(), deadline: $('#deadline').val(), });
          }
        }
      });
    }).catch(function(err){
      console.log(err);
    });
  });
});

</script>
